
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header {
    text-align: center;
    background-color: #d2691e;
    padding: 20px;
}

.header img {
    height: 100px;
    display: block;
    margin: 0 auto;


}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}



nav a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}


.product {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
    background-color: #ff69b4;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

footer {
    background-color: #222;
    color: white;
    padding: 40px 20px 10px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.footer-box h3 {
    margin-bottom: 10px;
}

.footer-box p {
    margin: 5px 0;
}

.footer-box a {
    color: #ffb6c1;
    text-decoration: none;
}

.footer-box a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
}


